<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- till public deployment use both -->
    <add key="package-test-feed" value="https://pkgs.dev.azure.com/data-factory-testing-framework/data-factory-testing-framework/_packaging/package-test-feed/nuget/v3/index.json" />
    <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> -->
  </packageSources>
</configuration>
